[submodule "docs"]
	path = docs
	url = https://github.com/microservices-demo/microservices-demo.github.io.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/microservices-demo/front-end.git
